@use "../helpers/mixins/index" as *;

.sidebar {
  position: fixed;
  z-index: 1;
  top: var(--layout-header-height);
  left: 0;
  width: var(--layout-sidebar-width);
  height: calc(100vh - var(--layout-header-height) - var(--layout-footer-height));
  padding: 20px;
  background: var(--color-gray-100);
  transition: var(--transition);
  transform: translateX(calc(0px - var(--layout-sidebar-width)));

  &.header--open {
    left: 0;
    width: var(--layout-sidebar-width);
    transform: translateX(0px);
  }
  .sidebar__dimmed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
  }
  @media (max-width: var(--breakpoint-mobile)) {
    &.header--open {
      width: calc(100% - 30px);
    }
  }
  @media (max-width: var(--breakpoint-tablet)) {
    position: static;
    width: 100%;
    height: auto;
    transform: none;
    padding: 10px;
    &.header--open {
      width: 100%;
    }
  }
}
